# Logs
logs/
*.log
pnpm-debug.log*

# macOS
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# Node.js
node_modules/

# Build Artifacts
dist/
dist-ssr/
dev-dist/
.wrangler/
*.local

# Sass module declaration files
*.module.sass.d.ts
*.module.scss.d.ts
